.page_header{
    padding: 110px 10px 30px 10px;
    color: var(--main-color) !important;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border-bottom: 1px dotted white;
}